<head>
  <link rel='stylesheet' href='../style.css'>
</head>

<div class="jumbotron" id="headerJumbo">
  <div class="container">
    <h1 id="title">Report Sex Trafficking</h1>
  </div>
</div>
<div id="form">
    <label id="formCheckbox">Im here to report sex trafficking as a witness</label>
    <form id="reportCheckbox">
      Yes <input type="checkbox" name="yes" value="submit" id="yes"/>
      No <input type="checkbox" name="no" value="submit" id="no" />
    </form>
</div>

<!-- <form novalidate class="simple-form">
  Location: <input type="text" name="location" ng-model="user.location" /><br />
  Victim Appears to be Minor: <input type="checkbox" name="minorCheckbox" ng-model="user.checkbox" /><br />
  Attach a Photo (optional): <input type="file" name="pictureFile" /><br />
  Comments (optional):<br /> <textarea cols="50" rows="6" placeholder="Describe any additional information"></textarea><br />
</form> -->
