<h2 style="text-align:center" class="title">About</h2>


  <h5 class="aboutText">Sex Trafficking Map is a simple, mobile-first method for concerned citizens to report possible sex trafficking in their communities. The heatmap that draws from these reports illustrates areas with a high density of reported sex trafficking.</h5>
  <h5 class="aboutText">Created as part of the <a href="https://hackevents.co/hackathon/usa/san-francisco/1196-inaugural-hackathon-athack-trafficking">2016 ATHack to End Human Trafficking and Modern Day Slavery in San Francisco, CA.</a> If you'd like to connect with our team, we'd love to hear from you!</h5>


<div class="row" class="media-object">
  <div class="col-xs-6 option-button"><br /><br /><br />
    <a href="#/"  class="btn btn-primary btn-block"  role="button" id="homeButts">Home</a>
  </div>
