<h2 style="text-align:center" class="title">About</h2>


  <h5>Sex Trafficking Map is a simple, mobile-first method for concerned citizens to report possible sex trafficking in their communities. The heatmap that draws from these reports illustrates areas with a high density of reported sex trafficking.</h5>
  <h5>Created as part of the <a href="https://hackevents.co/hackathon/usa/san-francisco/1196-inaugural-hackathon-athack-trafficking">2016 ATHack to End Human Trafficking and Modern Day Slavery in San Francisco, CA.</a> If you'd like to connect with our team, we'd love to hear from you!</h5>


<div class="row" style="margin-bottom: 20px;margin-top:400px" class="media-object">
  <div class="col-xs-6 option-button" style="padding:0px">
    <a href="#/"  class="btn btn-primary btn-block" style="padding:16px" role="button">Home</a>
  </div>
