<h2 style="text-align:center" class="title">Are you here to report sex trafficking at a location?</h2>
<div class="row" style="margin-bottom: 20px;margin-top:400px" class="media-object">
  <div class="col-xs-6 option-button" style="padding:0px">
    <a href="#/location"  class="btn btn-primary btn-block" style="padding:16px" role="button">Yes</a>
  </div>
  <div class="col-xs-6" style="padding:0px">
    <a href="google.com" class="btn btn-danger btn-block" style="background-color: #cccccc; border:1px solid grey" role="button">No, but I'd like to know <br>more about this topic</a>
  </div>
</div>
