<div id="photo">
  <h1 id="optional">[Optional] If you have a photo of the incident, trafficker, or trafficking location, upload it here. </h1>
  <button id="upload">Upload a Photo<span class="glyphicon glyphicon-camera" id="camera"></span></button><br /><br /><br />
  <input type="checkbox" ng-model="provideInfo" id="checkAdd"/><span id="provideAdd">Provide Contact Information?</span>
  <h2 id="contactInfo">We’ll only use this information to contact you if we need more detail about the incident. </h2>
  <button id="backButt">Back</button>
  <button id="frontButt">Submit</button>
  <div id="registration_form" ng-hide="!provideInfo">

      <form role="form" ng-submit="register()">
        <div class="form-group">
        <label for="name" id="name">Name:</label>
          <input type="username" class="form-control" ng-model="new_user.username" id="input">
        </div>
      <div class="form-group">
        <label for="email" id="email">Email Address:</label>
          <input type="email" class="form-control" ng-model="new_user.email" id="input">
        </div>
        <div class="form-group">
        <label for="phoneNumber" id="phoneNumber">Phone Number:</label>
          <input type="text" class="form-control" ng-model="new_user.password" id="input">
        
      </form>
  </div>
</div>
